/* Slide show */

.bx-wrapper {
    margin-bottom: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 20px;
    width: 100px;
    right: 40px;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 20px;
    width: 100px;
    right: 40px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #ffffff;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #4a2a3b;
}

.slider div .caption{
    width: 390px;
    height: 100%;
    padding: 20px;
    position: absolute;
    left: 100px;
    top: 0;

    background: rgba(0,0,0,0.58);
}

.slider div .caption .slider-caption-title{
    margin-top: 70px;
    color: #ffffff;
}
.slider div .caption .slider-caption-description{
    font-size: 18px;
    color: #CBCBCB;
}